<% provide(:title, "How to contribute") %>
<div class="grid">
  <div class="grid__content">
    <hr class="squiggle squiggle--2">
    <p>You want to write a letter to an inspiring woman? Amazing! Need an idea for someone to write to? Have a look at our <a href="https://trello.com/b/hQfWPHpV/women-to-write-about">suggestions board</a>.</p>

    <p>Send your letters and postcards to the below address.  Please enclose a coversheet containing <strong>your name</strong> (or a pen name), the full name of the <strong>person it’s addressed to</strong>, and your <strong>email address</strong>, in <strong>block capitals</strong>. Alternatively email us the same information to <a href="mailto:info@dearfriend.org.uk">info@dearfriend.org.uk</a> when you send the letter (for example, if it’s a postcard and you don’t have space).</p>

    <address>
     Dear Friend<br>
     ℅ People’s History Museum<br>
     Left Bank<br>
     Manchester<br>
     M3 3ER
    </address>

    <p>If you don’t hear from us within a week please let us know.</p>
    <p>Be aware that:</p>

    <ul>
      <li>When we receive your letter, we’ll send you a few more questions to make sure we’re on the same page. You need to respond to these before we can publish your submission, so make sure your contact email is clearly legible.</li>
      <li>This is an entirely volunteer-run project, so it might take us a while to get back to you!</li>
      <li>We might not publish your letter if it contains potentially libellous, inflammatory, or insulting language. We’re aware that often great friends come through conflict, but especially for living recipients we will err on the side of caution. If you have any questions just email us.</li>
      <li>Put more simply, we don’t promise to publish every letter, but have every intent to do so.</li>
      <li>Be aware that when you send us your letter, it’s ours: we might use it in exhibitions, publicity material, or published works. We’ll be in touch to outline this in more detail before it goes live, though.</li>
    </ul>
  </div>
  <div class="grid__aside">
    <%= render "layouts/social" %>
  </div>
</div>
