<% provide(:title, "Contact Us") %>
<div class="grid">
  <div class="grid__content">
    <hr class="squiggle squiggle--2">
    <p>You can follow us on <a href="http://twitter.com/dearfriendmcr">Twitter</a> and like us on <a href="https://www.facebook.com/dearfriendmcr/">Facebook</a>.</p>

    <p>For ideas of inspiring women to write about, check our <a href="https://trello.com/b/hQfWPHpV/women-to-write-about">suggestions board</a>.</p>

    <p>Get in touch by email at <a href="mailto:info@dearfriend.org.uk">info@dearfriend.org.uk</a>.</p>
  </div>
  <div class="grid__aside">
    <%= render "layouts/social" %>
  </div>
</div>
