<% provide(:title, "Dear Friend is a letter-writing project celebrating women in public life and struggles for liberation.") %>
<div class="grid">
  <div class="grid__content">
    <hr class="squiggle squiggle--2">

    <h2>Write a letter</h2>

    <p>We're now welcoming submissions!</p>

    <p>Write a letter to support a woman who inspired you or who made a difference in an area of equality: such as the fight against slavery; racial discrimination; or the ongoing fight for peace.</p>

    <p>We'll digitise and transcribe it, put it on the website, and help raise the profile of whoever you think we need to celebrate. You can write anything from a postcard to a full letter, and hand-write it or type it.</p>

    <p><strong><a href="/contribute">Check out our full submission guidelines for how to contribute</a></strong></p>
  </div>
  <div class="grid__aside">
    <hr class="squiggle squiggle--5">

    <h2>Come to an event</h2>

    <p>Not sure who to write to, or want some inspiration or help?</p>

    <p><strong><a href="/events">Come to one of our events!</a></strong></p>

    <hr class="squiggle squiggle--6">

    <h2>Get in touch</h2>

    <p>More information about how to contact us is <strong><a href="/contact">on our contact page</a></strong></p>
  </div>
</div>
