<article class="event__container">
 <h2 class="h1"><%= @event.title %></h2>
 <h3 class="h2"><time>{{ dateTimeFormat this.start}} &ndash; {{ timeFormat this.end}}</time>, {{{location}}}</h3>
 {{{contents}}}
</article>
