<% provide(:title, "Come to one of our events, write a letter to your heroine, and help correct the balance of history.") %>
<div class="grid">
  <div class="grid__content">
    <% @events.each do |event| %>
      <hr class="squiggle squiggle--2">
      <%= render event %>
    <% end %>
  </div>
  <div class="grid__aside">
    <%= render "layouts/social" %>
  </div>
</div>
