<div class="grid">
  <div class="grid__content">
    <% @events.each do |event| %>
      <hr class="squiggle squiggle--2">
      <%= render event %>
    <% end %>
  </div>
  <div class="grid__aside">
    {{> social}}
  </div>
</div>

<br>

<%= link_to 'New Event', new_event_path %>
