// Media Queries

// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
  xs:  320px,
  s:   480px,
  m:   740px,
  l:   980px,
  xl:  1300px,
);

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (i.e. when $mq-responsive is set to 'false').
$mq-static-breakpoint: l;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (s, m, l).
// $mq-show-breakpoints: (xs, s, m, l, xl);

// Site Variables
$base-font-size: 18px; // Recommended to not change this
$site-container: 100%;
$site-gutter: rem(20px);
$grid-gutter: .25; // Quarter of column width
$column-small: 6;
$column-large: 12;
$grid-debug: hide; // Change this to show or hide


// Colours
$primary: #0E4194;
$background: #FFFFFF;
$secondary: #222222;

$primary-75: #4A70AF;
$primary-50: #86A0C9;
$primary-25: #C3CFE4;

// Fonts
$font-primary: 'garamond-premier-pro', 'garamond', 'georgia', serif;
$font-primary-weight: 400;
$bold: 600;

// Transitions
$default-animation-time: 0.5s;

// Spacers
$small-spacing: 1em;
$medium-spacing: 2em;
$large-spacing: 3.25em;

// Font sizes
$h1: 2.222222222em;
$h2: 1.777777778em;
$small: 0.777777778em;

// Default Grid Options
// -----------------------------

$susy: (
  columns: $column-large,
  container: $site-container,
  gutters: $grid-gutter,
  global-box-sizing: border-box,
  debug: (
    image: $grid-debug
  )
);
