footer {

}

.sponsors {
  li {
    list-style-type: none;
    @include gallery(6);
    @include mq($from: m) {
      @include gallery(2);
    }
  }
  &+ p {
    clear: both;
  }
  &__sponsor-us {
    margin-bottom: 3.5em;
  }
}

.social {
  @include mq($from: m) {
    display: inline-block;
    margin-right: 2em;
  }
  &__link {
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    padding-left: 30px;
    background-size: contain;
    font-weight: $bold;
    text-decoration: none;
    margin: 0.5em 0;
    &--twitter {
      background-image: url("/assets/img/icons/twitter.png");
    }
    &--facebook {
      background-image: url("/assets/img/icons/facebook.png");
    }
  }
}
