/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require formtastic
 *= require_self
 */

// Non outputted Sass
@import 'modules/_variables';
@import 'modules/_functions';
@import 'modules/_mixins';

// Vendor files
@import 'vendor/_normalize';
@import 'vendor/_sass-mq';
@import 'susy';

// Partials
@import 'partials/_base';
@import 'partials/_layout';
@import 'partials/_typography';
@import 'partials/_header';
@import 'partials/_footer';
@import 'partials/_inverted';
@import 'partials/_buttons';
@import 'partials/_squiggle';
@import 'partials/_letters';
@import 'partials/_pagination';

@import 'vendor/_lightgallery';
@import 'vendor/_pagination';


 ul.nolist {
   margin: 0;
   padding: 0;
 }

 .event {
   margin-bottom: 3em;
 }

 address {
   font-style: normal;
   font-size: 1.2em;
   text-align: center;
 }
