<hr class="squiggle squiggle--sponsor">

<footer class="footer" role="contentinfo">
  <h2>Supporters</h2>

    <ul class="grid nolist sponsors">
      <li>
        <a href="http://www.creativetourist.com/festivals-and-events/wonderwomen/">
          <img src="/assets/img/logos/DF_sponsor_WW.png" alt="Wonder Women Manchester">
        </a>
      </li>
      <li>
        <a href="http://www.manchesterhistoriesfestival.org.uk/">
          <img src="/assets/img/logos/DF_sponsor_MHF.png" alt="Manchester Histories Festival">
        </a>
      </li>
      <li>
        <a href="http://phm.org.uk">
          <img src="/assets/img/logos/DF_sponsor_PHM.png" alt="People's History Museum">
        </a>
      </li>
      <li>
        <a href="http://www.manchester.gov.uk/info/100003/people_and_communities/202/neighbourhood_investment_funds">
          <img src="/assets/img/logos/DF_sponsor_MCC.png" alt="Manchester City Council Neighbourhood Investment Fund">
        </a>
      </li>
      <li>
        <a href="http://www.hebephillips.co.uk/">
          <img src="/assets/img/logos/DF_sponsor_Hebe.png" alt="Hebe Grace Illustration">
        </a>
      </li>
      <li>
        <a href="http://studiosquid.co.uk/">
          <img src="/assets/img/logos/DF_sponsor_Squid.png" alt="Studio Squid">
        </a>
      </li>
    </ul>

  <p class="sponsors__sponsor-us">Want to sponsor us? <strong><a href="mailto:info@dearfriend.org.uk">Get in touch!</a></strong></p>

  <div class="inverted">
    <h2>Be social</h2>
    <hr class="squiggle squiggle--4 squiggle--4--inverted">
    <div class="social">
      <a class="social__link social__link--twitter inverted__link" href="https://twitter.com/dearfriendmcr" target="_blank">
        Follow us on Twitter
      </a>
    </div>
    <div class="social">
      <a class="social__link social__link--facebook inverted__link" href="https://www.facebook.com/dearfriendmcr/" target="_blank">
        Keep up to date on Facebook
      </a>
    </div>
  </div>

  <h3 class="h3">© 2016 Dear Friend</h3>
  <p class="h5">
    Part of <a href="http://cassowaryproject.org/">The Cassowary Project</a><br>
    Site by <a href="http://alliscalm.net">Kim Foale</a><br>
    Design by <a href="http://studiosquid.co.uk/">Squid</a><br>
    Logo by <a href="http://www.hebephillips.co.uk/">Hebe Phillips</a>
  </p>

</footer>
