<header class="header" role="banner">
  <a href="/" class="logo"><h1>Dear Friend</h1></a>

  <div class="nav__toggle js__nav-toggle">
  </div>

  <div class="inverted--if-not-large nav js__nav">
    <nav>
      <ul class="nav__list">
        <li class="nav__item nav__item--first h2"><a class="nav__link" href="/">Home</a></li>
        <li class="nav__item h2"><a class="nav__link" href="/letters/">Letters</a></li>
        <li class="nav__item h2"><a class="nav__link" href="/events/">Events</a></li>
        <li class="nav__item h2"><a class="nav__link" href="/contribute/">Contribute</a></li>
        <li class="nav__item nav__item--last h2"><a class="nav__link" href="/contact/">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
